h1{
    color: blue;
    text-decoration: underline;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span{
    color: rgb(255, 255, 255);
}
img{
    border: chocolate;
}
.centrado{
    text-align: center;
}
div{
    display: flex;
    justify-content: center;
}
.derecha{
    width: 50%;
    background-color: rgb(255, 255, 255);
}
.izquierda{
    width: 50%;
    background-color: coral;
}
.carta > img{
    width: 80%;
    height: auto;
}

.button{
    padding: 10px;
    background-color: blue;
}

.agregar-carrito{
    margin: 10px 0;
}
.card {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: #1d2124;
}
.centrado{
    text-align: center;
}

.carta{
    display: flex;
    flex-direction: column;
    align-items: left;
}