h1{
    color: blue;
    text-decoration: underline;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span{
    color: chartreuse;
}
img{
    border: chocolate;
}
.centrado{
    text-align: center;
}
div{
    display: flex;
    justify-content: center;
}
.derecha{
    width: 50%;
    background-color: rgb(14, 183, 212);
}
.izquierda{
    width: 50%;
    background-color: coral;
}