

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #1d2124;


    flex-wrap: wrap;



}

.form-box {
    width: 800px;
    padding: 133px;
    text-align: center;
    border: 0px solid rgba(255, 255, 255, 0.05);
    background: #1d2124;
}

.form-title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
}

.form-box input[type="text"], .form-box input[type="password"], .form-box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 2px solid #3742fa;
    padding: 14px 10px;
    width: 350px;
    outline: none;
    color: white;
    border-radius: 40px;
    transition: 0.50s;
}


.form-box button[type="submit"] {
    border: 0;
    background: #0808a1;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3742fa;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.form-box button[type="submit"]:hover {
    background: none;
}